.profile_pic{
    width: 70px;
    border-radius: 50%;
    // margin: 0px 10px;
}

.edit_pencil{
    width:15px;    
    margin:0px 5px;
}

.edit_btn{
    width: max-content;
    padding: 10px 12px;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid #808080;
    color:#808080;
}

