<p class="heading-style">My profile</p>

<div class="content-outline">
    <table>
        <tr>
            <td style="width:20%"><img src="../../../../assets/images/profile_img.png" class="profile_pic"></td>
            <td style="width:80%">
                <tr>
                    <td class="text-name">Siva</td>
                </tr>
                <tr>
                    <td class="text-content text-bold">Team Leader</td>
                </tr>
                <tr>
                    <td class="text-content">Leeds, United Kingdom</td>
                </tr>
            </td>
            <td style="width:10%">
                <button class="edit_btn">
                    Edit<img src="../../../../assets/images/edit-text.png" class="edit_pencil">
                </button>
            </td>
        </tr>
        
    </table>
</div>

<div class="content-outline">
    <table width="100%">
        <tr>
            <td width="60%" class="text-black text-bold float-top">
                Personal Information
            </td>
            <td width="30%"></td>
            <td width="10%" class="text-end">
                <button class="edit_btn">
                    Edit<img src="../../../../assets/images/edit-text.png" class="edit_pencil">
                </button>
            </td>
        </tr>
        <tr>
            <td width="40%" class="text-grey font-12">First Name</td>
            <td width="40%" class="text-grey font-12">Last Name</td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td class="text-black-light text-bold font-12">Siva</td>
            <td class="text-black-light text-bold font-12">R</td>
            <td></td>
        </tr>
        <tr>
            <td width="40%" class="text-grey font-12">Email address</td>
            <td width="40%" class="text-grey font-12">Phone</td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td class="text-black-light text-bold font-12">siva@gmail.com</td>
            <td class="text-black-light text-bold font-12">8754286363</td>
            <td></td>
        </tr>
        <tr>
            <td width="40%" class="text-grey font-12">Bio</td>
            <td width="40%"></td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td class="text-black-light text-bold font-12">Team Manager</td>
            <td></td>
            <td></td>
        </tr>        
    </table>
</div>

<div class="content-outline">
    <table width="100%">
        <tr>
            <td width="60%" class="text-black text-bold float-top">
                Address
            </td>
            <td width="30%"></td>
            <td width="10%" class="text-end">
                <button class="edit_btn">
                    Edit<img src="../../../../assets/images/edit-text.png" class="edit_pencil">
                </button>
            </td>
        </tr>
        <tr>
            <td width="40%" class="text-grey font-12">Country</td>
            <td width="40%" class="text-grey font-12">City/State</td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td class="text-black-light text-bold font-12">United Kingdom</td>
            <td class="text-black-light text-bold font-12">Leeds, East London</td>
            <td></td>
        </tr>
        <tr>
            <td width="40%" class="text-grey font-12">Postal Code</td>
            <td width="40%" class="text-grey font-12">TAX ID</td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td class="text-black-light text-bold font-12">ERT 2354</td>
            <td class="text-black-light text-bold font-12">AS45645756</td>
            <td></td>
        </tr>    
    </table>
</div>
