<!Doctype html>
<html>
    <head>
    
    </head>
    <body>       
        <div class="cont">
            <div class="row inside-con">
                <div class="col-4">
                    <p class="logo">Dexpress</p>
                </div>
                <div class="col-8">
                    <nav class="nav_menu">
                        <ul>
                            <li>About Us</li>
                            <li>Decks</li>
                            <li>Wheels</li>
                            <li>Contact</li>                           
                        </ul>
                        <span class="profile_span" (click)="login()"><img src="assets/images/profile_img.png" class="profile_img"></span>
                    </nav>
                </div>
                <!-- <h1 class="text-center">Welcome to My Angular App</h1>
                <button class="btn btn-primary">Click Me</button> -->
                <div class="row"> 
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 skate_div">
                        <h5 class="skate_text">Skateboarding<br> Done Right</h5>  
                        <p class="wooden_text">Wooden longboard in Best <br>
                        quality for skateboard lovers</p>
                    </div>                   
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <img src="assets/images/bg_skate.svg" class="bg_img">
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                        <table>
                            <tr>
                                <td class="pad_20"></td>
                            </tr>
                            <tr>
                                <td class="icon_td"><img src="assets/images/water-drop.png" class="icon_medium"></td>
                                <td>
                                    <p class="big_font">Color</p>
                                    <p class="small_font">Yellow</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="pad_20"></td>
                            </tr>
                            <tr>
                                <td class="icon_td"><img src="assets/images/weight-scale.png" class="icon_medium"></td>
                                <td>
                                    <p class="big_font">Weight</p>
                                    <p class="small_font">8KG</p>
                                </td>
                            </tr>
                            <tr>
                                <td class="pad_20"></td>
                            </tr>
                            <tr>
                                <td class="icon_td"><img src="assets/images/ruler.png" class="icon_medium"></td>
                                <td>
                                    <p class="big_font">Dimension</p>
                                    <p class="small_font">8.25 x 31.875</p>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div> 
                <div class="btn_avai">
                    <div class="btn_div">
                        <button class="btn_cls">Order Now</button>
                    </div>  
                </div>                            
                <div class="col-3 brand_div">
                    <h5 class="brand_text">Brands Available</h5>
                    <h6 class="famous_text">Famous brands</h6>
                    <p class="para_text">We have available stock for all
                        <br>famous brands you can order from
                        <br>Our website
                    </p>
                </div>
                <div class="col-9">
                    <nav class="logo_div">
                        <ul>
                            <li><img src="assets/images/figma.png" class="logo_img"></li>
                            <li><img src="assets/images/nike.png" class="logo_img"></li>
                            <li><img src="assets/images/instagram.png" class="logo_img"></li>
                            <li><img src="assets/images/netflix.png" class="logo_img"></li>
                            <li><img src="assets/images/slack.png" class="logo_img"></li>
                        </ul>
                    </nav>
                </div>
                          
            </div>            
        </div>
    </body>
</html>
